<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="icon" href="/img/rainy-day.png">
    <link rel="stylesheet" href="/css/styless.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="potrait" src="/img/indir.jpeg">
    </div>
  
    {{>footer}}
</body>
</html>