body {
  font-family: Arial;
  margin: 0 auto;
  padding:0 16px;
  max-width:650px;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  flex-grow: 1;
}

footer {
  font-family: "Times New Roman", Times, serif; /* Akademik bir yazı tipi */
  color: #888888; /* Gri yazı rengi */
  padding: 16px 0;
  border-top: 1px solid #eeeeee; /* Üst kenarlık: 2 piksel kalınlıkta, siyah renkte */
  margin-top: 16px;
}

header{
margin-top: 16px;
margin-bottom: 48px;
}

h1{
  margin-bottom: 16px;
  font-size: 64px;
}

header a{
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.potrait{
  width: 250px;
}


input{
  border: 1px solid #cccccc;
  padding: 8px;
}

button{
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 8px ;
}